<h1><%= @cocktail.name %></h1>

<h3>Ingredients:</h3>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %> --
  <%= dose.description %>
  <%= link_to "delete", dose_path(dose.id), method: :delete,
  data: {confirm: "are you sure?"} %>
  <br>
<% end  %>
<br><br>

<h3>Do you want to add a ingredient?</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Cocktails list", cocktails_path  %>

